:root {
  --hero-button-hover-color: rgba(24, 140, 232, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --white-back-color: rgba(245, 244, 250, 1);
  --white-text-color-60: rgba(255, 255, 255, 0.6);
  --white-text-color-1: rgba(255, 255, 255, 1);
  --grey-text-color: rgba(117, 117, 117, 1);
  --black-text-color: rgba(33, 33, 33, 1);
  --black-footer-color: rgba(47, 48, 58, 1);
  --top-logo-subtext: rgba(0, 0, 0, 1);
  --svg-primary-color: rgba(175, 177, 184, 1);
}

:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* ------------------ */
.header .container {
  color: #ffffff;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-text {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-decoration: none;
}

.top-logo-subtext {
  color: var(--top-logo-subtext);
}

.bottom-logo-subtext {
  color: var(--white-text-color-1);
}

.page-header {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--white-back-color);
}

.header {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 80px;
  margin: auto;
  padding: 0 15px;
}

.nav > .logo-text {
  margin-right: 93px;
  padding: 13px 0;
}

.nav,
.nav-items,
.header-contacts {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-items li:not(:last-child),
.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  color: var(--black-text-color);
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey-text-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.svg-contact {
  margin-right: 10px;
  fill: currentColor;
}*/

.header-contacts {
  margin-left: auto;
}

.active > a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  text-decoration: underline;
  height: 4px;
  width: 100%;
  background-color: var(--blue-color);
  border-radius: 2px;
}

li.active > a {
  position: relative;
  color: var(--blue-color);
}

.header-contact:hover,
.header-contact:focus,
.nav-item:hover,
.nav-item:focus {
  color: var(--blue-color);
}

/*-------------------*/

.divlogo {
  position: absolute;
  width: 100%;
}

.hero {
  padding-bottom: 94px;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  max-width: 1600px;
}

.hero-title {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 452px;
  padding-right: 452px;
  width: 696px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 696px;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-title {
  position: absolute;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*  border-radius: 4px;*/
}

.vector1 {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 102.34px;
  padding-right: 102.34px;
}

.vectors {
  width: 270px;
  height: 120px;
  background: hsl(250, 37%, 97%);
}

.features-card {
  margin: 0 15px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  /*padding-left: 10%;
  padding-right: 10%;
  width: auto;*/
  align-self: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.features-names {
  padding-bottom: 10px;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-text {
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.ourworking {
  padding-top: 100px;
  padding-bottom: 10px;
  /*padding-left: 10%;
  padding-right: 10%;*/
  /*width: 100%;*/
  align-content: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ourworking-card {
  margin: 0 15px;
}

.ourworking-card-container {
  position: relative;
}

.ourworking-desription {
  position: absolute;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0px;
  right: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.working-command-section {
  padding-top: 94px;
  padding: 0 15px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.ourcommand {
  padding-top: 100px;
  padding-bottom: 10px;
  /*padding-left: 10%;
  padding-right: 10%;*/
  /*width: 100%;*/
  align-content: center;
  text-align: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ourcommand-card {
  margin: 0 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.working-command-title {
  position: absolute;
  align-content: center;
  color: #212121;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  line-height: 18.75px;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourcommand-names {
  padding-top: 30px;
  align-content: center;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  letter-spacing: 0.03em;
}

.working-command-list {
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 24px;
}

.ourcommand-profi {
  color: #757575;
}

.ourclients {
  padding-top: 100px;
  padding-bottom: 10px;
  /*padding-left: 10%;
  padding-right: 10%;
  width: 100%;*/
  align-content: center;
  text-align: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ourclients-item {
  margin: 0 15px;
}

.ourclients-item:hover {
  stroke: white;
  background-color: #2196f3; /*???*/
}

.img-size {
  width: 100%;
}

.link-study {
  padding-left: 30px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-portfolio {
  padding-left: 20px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-contacts {
  padding-left: 20px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-email {
  padding-left: 100px;
  padding-top: 5px;
  text-decoration: none;
  color: rgba(21, 21, 21, 0.6);
}

.link-tel {
  padding-left: 30px;
  padding-top: 5px;
  text-decoration: none;
  color: rgba(21, 21, 21, 0.6);
}

.thisfooter {
  padding-left: 10%; /*215px;*/
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

.address-block {
  color: rgba(ff, ff, ff, 0.6);
}

.link-email-footer {
  padding-top: 5px;
  text-decoration: none;
  color: #ffffff;
}

.link-tel-footer {
  padding-top: 5px;
  text-decoration: none;
  color: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  /*margin-left: 10%;
  margin-right: 10%;*/
  align-self: center;
}

.link-portfolio-menu {
  font-size: small;
  align-self: auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.link-portfolio-list {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 4px;
}

.link-portfolio-list:hover {
  /*color: #ffffff;
  background: #2196f3;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.portfolio-photo {
  left: 615px;
  top: 262px;
  display: inline-table;
  margin: 15px;
  padding: 3px;
  flex-basis: auto;
}

.portfolio-photo:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.portfolio-caption {
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: start;
}

.portfolio-text {
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
}

.portfolio-items {
  text-align: center;
  align-self: center;
  font-size: small;
}

.hr {
  margin: 15px;
  padding: 4px;
  flex-wrap: wrap;
}

.socialnetworks-links {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.socialnetworks-item {
  margin: 0 5px;
}

.socialnetworks-item:hover {
  color: #2196f3;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 1);*/
}

.socialfooter {
  background-color: #2f303a;
  padding-top: 72px;
  padding-bottom: 100px;
  padding-left: 70px;
  /*padding-right: 215px;*/
  color: #ffffff;
  margin: 10px auto;
}

.socialfooter-links {
  padding-left: 70px;
  /*padding-top: 72px;*/
  list-style-type: none;
  display: flex;
}

.socialfooter-item {
  margin: 0 5px;
}

.socialfooter-title {
  padding-left: 70px;
  /*padding-top: 72px;*/
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  display: flex;
}

.main-footer {
  background-color: #2f303a;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 536px;
  top: 221px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-close-modal {
  height: 11px;
  width: 11px;
  margin-top: 17px;
  margin-right: 17px;
  margin-left: 490px;
  border: 1px;
}

.container-portfolio-photo {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: top 0.3s;
  transition: 0.75s ease;
  background: rgba(33, 150, 243, 0.8);
}

.container-portfolio-photo:hover .overlay {
  opacity: 1;
  top: 0;
}

.text {
  position: absolute;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 63px;
  padding-bottom: 63px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*temp*/

* Секція наша команда */ .team-members {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-back-color);
}

.team-members > h2 {
  margin-bottom: 50px;
}

.team-members-ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.team-members-li:not(:last-child) {
  margin-right: 30px;
}

.team-members-li {
  background-color: var(--white-text-color-1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-img-thumb img {
  display: block;
  max-width: 100%;
}

.member-info {
  padding: 30px 32px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team-member-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.social-links-ul,
.social-links-li {
  display: flex;
  padding: 0;
}

.social-links-ul {
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
}

.social-links-li:not(:last-child) {
  margin-right: 10px;
}

.social-link-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link-svg {
  fill: currentColor;
  padding: 0 12px;
}

.social-link {
  color: var(--svg-primary-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--blue-color);
  border-radius: 50%;
  color: var(--white-text-color-1);
}
